<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head runat="server">
	<meta charset="UTF-8" />
	<meta name="description" content="CliqFlip is a social platform that connects people
	on sociality, personality, and commonalitys" />
	<meta name="keywords" content="cliqflip, sociality, personality, commonality" />
	<link rel="shortcut icon" href="@Url.Content("/Content/img/favicon.png")" type="image/png" />
	<title>@ViewBag.Title</title>
	<!-- Website Styles -->
	<link rel="stylesheet" type="text/css" media="all" href="@Url.Content("/Content/styles/skins/default-dark.css")" />
	<link rel="stylesheet" type="text/css" media="all" href="@Url.Content("/Content/styles/skins/blue-cScheme.css")" />
	<link rel="stylesheet" type="text/css" media="all" href="@Url.Content("/Content/styles/anythingslider.css")" />
	<link rel="stylesheet" type="text/css" media="all" href="@Url.Content("/Content/styles/skitter.styles.css")" />
	<link rel="stylesheet" type="text/css" media="all" href="@Url.Content("/Content/js/colorbox/colorbox.css")" />
	<!-- IE HTML5 Hack -->
	<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"> </script>
		<![endif]-->
	<!-- Google Font -->
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet'
		type='text/css' />
		@RenderSection("styles",false)
</head>
<body>
	<div id="main-container">
		<!-- HEADER START -->
		<div id="header" class="wrapper">
			<div class="inner">
				<div class="logo">
					<a href="#" class="logo_img">CliqFlip</a>
				</div>
				<div class="motto">Discover <span>More</span>
				</div>
				<div class="back">
				</div>
			</div>
		</div>
		<!-- HEADER END -->
		@RenderBody()
		<!-- FOOTER START -->
		<div id="footer_box" class="full-width">
			<div class="wrapper">
				<div class="inner">
					<div class="one_fourth">
						<h4>
							<em>Where to</em> Find US</h4>
						<p>
							Lorem ipsum dolor sit amet, odio conseotetur adipiscing elit.</p>
						<p>
							Cluj-Napoca, Romania</p>
						<p>
							MOB.+40 745 968275
							<br />
							E-mail: <a href="mailto:office@domain.com">office@domain.com</a>
						</p>
					</div>
					<div class="one_fourth recent-posts">
						<h4>
							<em>Latest from the</em> Blog</h4>
						<ul>
							<li><a href="openpost.html">
								<img src="@Url.Content("/Content/img/1_small.jpg")" alt>
								<span><span class="title">Post title</span> <em>by Admin on Aug 5, 2011</em> </span>
							</a></li>
							<li><a href="openpost.html">
								<img src="@Url.Content("/Content/img/1_small.jpg")" alt>
								<span><span class="title">A bit longer title</span> <em>by Admin on Aug 5, 2011</em>
								</span></a></li>
							<li><a href="openpost.html">
								<img src="@Url.Content("/Content/img/1_small.jpg")" alt>
								<span><span class="title">Post title</span> <em>by Admin on Aug 5, 2011</em> </span>
							</a></li>
						</ul>
					</div>
					<div class="one_fourth">
						<h4>
							<em>Copyright</em> Disclaimer</h4>
						<p>
							<em>Important:</em> This demo is purely for demonstration purposes and all the content
							are designed to showcase the GRAPHIX theme on a live site.</p>
						<p>
							<em>All images are copyrighted to their respective owners.</em></p>
					</div>
					<div class="one_fourth last">
						<h4>
							<em>Photos from</em> Flickr</h4>
						<ul id="cbox" class="flickr_thumbs">
						</ul>
					</div>
					<div class="clear">
					</div>
				</div>
			</div>
		</div>
		<!-- FOOTER END -->
		<!-- COPYRIGHT START -->
		<div id="copyright_box">
			<div class="wrapper">
				<div class="inner">
					<div class="divider">
					</div>
					<em>&copy; @DateTime.Now.Year <a href="index.html">CliqFlip</a> - All rights reserved.</em>
					<div class="divider">
					</div>
				</div>
			</div>
		</div>
		<!-- COPYRIGHT END -->
	</div>
	<!-- end #main-container -->
0	<!-- Scripts -->
	<script type="text/javascript" src="@Url.Content("/Content/js/jquery.js")"> </script>
	<script type="text/javascript" src="@Url.Content("/Content/js/colorbox/jquery.colorbox-min.js")"> </script>
	<script type="text/javascript" src="@Url.Content("/Content/js/jquery.quicksand.min.js")"> </script>
	<script type="text/javascript" src="@Url.Content("/Content/js/jquery.skitter.min.js")"> </script>
	<script type="text/javascript" src="@Url.Content("/Content/js/jquery.animate-colors-min.js")"> </script>
	<script type="text/javascript" src="@Url.Content("/Content/js/jquery-easing.js")"> </script>
	<script type="text/javascript" src="@Url.Content("/Content/js/jquery.anythingslider.min.js")"> </script>
	<script type="text/javascript" src="@Url.Content("/Content/js/jquery.anythingslider.fx.min.js")"> </script>
	<script type="text/javascript" src="@Url.Content("/Content/js/jquery.cycle.all.min.js")"> </script>
	<script type="text/javascript" src="@Url.Content("/Content/js/jflickrfeed.min.js")"> </script>
	<script type="text/javascript" src="@Url.Content("/Content/js/jquery-ui-1.8.16.custom.min.js")"> </script>
	<script type="text/javascript" src="@Url.Content("/Content/js/twitterjs-2.0.0.min.js")"> </script>
	<script type="text/javascript" src="@Url.Content("/Content/js/jquery.validate.pack.js")"> </script>
	<script type="text/javascript" src="@Url.Content("/Content/js/core.js")"> </script>
	@RenderSection("scripts",false)
</body>
</html>
