@model CliqFlip.Web.Mvc.ViewModels.User.UserProfileViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = Model.Username + " - " + Model.Headline;
}           

@section styles
{
	@*TODO: Move this to CSS file*@
	<style type="text/css">
		body
		{
			background-color: #D1E1E7;
		}
		.post-info .blogdate {
			width: auto;
			height: auto;
		}
		.post-info {
			width: 200px;
			margin-right: 24px;
		}
		.blog-post
		{
		    margin: 0;
            overflow: hidden;
            float: left;
            width: auto;
		}
		
		.sidebar
		{
		    margin: 0;
            width: 22%;
            float: right;
		}
		
		#send-message
		{
		     display: none;
		}
		
		#send-message p
		{
		    margin-top: 5px;
            margin-bottom: 0;
            text-align: right;
		}
		#send-message textarea
		{
		    border-color: #899BC1;
            font-size: 14px;
            height: 60px;
            margin-right: 6px;
            overflow: hidden;
            width: 100%;
            max-width: 342px;
		}
	</style>
    @RenderSection("styles", false)
}

@*The common content between the profile pages*@

<div class="divider">
</div>

<div class="post-info">
	<div class="blogdate">
		@{
            string imagePath = string.IsNullOrWhiteSpace(Model.ProfileImageUrl)
                                ? @Url.Content("/Content/img/empty-avatar.jpg")
                                : Model.ProfileImageUrl;
		}
		<img class="profile-image" alt="@Model.Username profile image" src="@imagePath"/>
	</div>
	<div class="category">
		<ul>
			@*TODO: Create a shared layout for the user *@
			@Html.ActionMenuItem("Home", "Index", "User")
			@Html.ActionMenuItem("Social Media", "SocialMedia", "User")
			@Html.ActionMenuItem("Interests", "Interests", "User")

            @if (Model.AuthenticatedVisitor && !Model.AuthenticatedProfileOwner)
            {
                //the user must be logged and the user cannot send a message to themselves
                <li id="send-message-link">
                    @Html.ActionLink("Start a conversation", "StartConversationWith", "User")
                </li>
            }
		</ul>
	</div>
	<p class="post_author">by Marius Pop</p>
</div>

<div id="send-message">
    @Html.Action("StartConversationWith")
</div>

@RenderBody()


@section scripts
{
    @*
        //TODO: move this to seperate js file specific for this layout
        //theres already a file called profile.js
        //we can rename to index.js
        //talk to Scott before making changes
    *@
    <script type="text/javascript">
        var sendMessageDialog = null;
        $(document).ready(function () {
            sendMessageDialog = $("#send-message").dialog({ autoOpen: false });

            $("#send-message-link").click(function (e) {
                e.preventDefault();
                sendMessageDialog.dialog("open");
            });
        });

        function StartConversationSuccess(response, request) {
            sendMessageDialog.dialog("close");
            sendMessageDialog.find("form")[0].reset();
        }

    </script>
    @RenderSection("scripts", false)
}