@model CliqFlip.Web.Mvc.ViewModels.User.UserCreateViewModel
@{
	ViewBag.Title = "Create";
}
<div id="steps">
</div>
@using (Html.BeginForm("Create", "User", FormMethod.Post, new { id = "formProfileCreate", @class = "ui-formwizard" }))
{
	@Html.ValidationSummary(true)

	<fieldset class="step ui-formwizard-content" id="stepInterests">
		@{ Html.RenderPartial("_AddInterest"); }
	</fieldset>
	<fieldset class="step ui-formwizard-content" style="display: none;" id="stepLogin">
		<strong>Login</strong>
		<div>
			<div class="editor-label">
				@Html.LabelFor(model => model.Username)
			</div>
			<div class="editor-field">
				@Html.EditorFor(model => model.Username)
				@Html.ValidationMessageFor(model => model.Username)
			</div>
			<div class="editor-label">
				@Html.LabelFor(model => model.Email)
			</div>
			<div class="editor-field">
				@Html.EditorFor(model => model.Email)
				@Html.ValidationMessageFor(model => model.Email)
			</div>
			<div class="editor-label">
				@Html.LabelFor(model => model.Location)
			</div>
			<div class="editor-field">
				@Html.EditorFor(model => model.Location)
				@Html.ValidationMessageFor(model => model.Location)
			</div>
			<div class="editor-label">
				@Html.LabelFor(model => model.Password)
			</div>
			<div class="editor-field">
				@Html.EditorFor(model => model.Password)
				@Html.ValidationMessageFor(model => model.Password)
			</div>
			<div class="editor-label">
				@Html.LabelFor(model => model.PasswordVerify)
			</div>
			<div class="editor-field">
				@Html.EditorFor(model => model.PasswordVerify)
				@Html.ValidationMessageFor(model => model.PasswordVerify)
			</div>
			<div class="editor-label">
				<a href="javascript:void(0);" id="tos-link">Accept Terms & Conditions</a>
			</div>
			<div class="editor-field">
				@Html.EditorFor(model => model.AcceptTermsAndConditions)
				@Html.ValidationMessageFor(model => model.AcceptTermsAndConditions)
			</div>
		</div>
	</fieldset>

	<div class="clear">
	</div>
	<p id="button-container">
		<input type="submit" value="Next" class="button dark-blue" />
		<input type="reset" value="Back" class="button blue" />
	</p>
}
<script id="tmplStepIndicator" type="text/x-jquery-tmpl">
	<div>
		<a href="#${StepId}" class="button blue">
			<strong>${StepNumber}</strong> - ${StepTitle}
		</a>
	</div>
</script>


@section beforeBodyClose
{
	<script type="text/javascript" src="@Url.Content("/Content/js/jquery.tmpl.js")"> </script>
	<script type="text/javascript" src="@Url.Content("/Content/js/jquery.form.wizard.js")"> </script>
	<script type="text/javascript" src="@Url.ContentWithVersioning("/Content/js/user/create.js")"> </script>
	<script type="text/javascript" src="@Url.Content("/Content/js/user/add-interest.js")"> </script>
	<script type="text/javascript" src="@Url.Content("/Content/js/validation/jquery.validate.must-be-true.js")"> </script>
	<script type="text/javascript">

		$(document).ready(function () {
			InitUserCreate();
			InitAddInterest();
		});
	</script>
}
