@model CliqFlip.Web.Mvc.ViewModels.User.UserCreate
@{
    this.Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Create";
}

@section  styles
{
    <link rel="Stylesheet" type="text/css" media="all" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/cupertino/jquery-ui.css" />
    <style>
        #divInterestSearch
        {
            margin: 0 20px;
        }
        #interestsList
        { 
            background-color: White;
            list-style: none;
            min-height: 350px;
            border: 1px dashed;
            margin: 20px;
        }
        #interestsList li
        {
            background: #F0F0F0;
            margin: 5px;
            padding: 5px;
            display: inline-block;
            border-radius: 5px;
            position: static;
        }
        
        #interestsList li a.remove-interest
        {
            float: right;
            background: url(/Content/img/close.png) no-repeat;
            content: "asd";
            height: 25px;
            width: 25px;
        }
        
        .ui-formwizard-content
        {
             background-color: White;
        }
        
        
        
        
        
        #formProfileCreate fieldset
        {
            display: block;
            min-height: 450px;
        }
        
        #formProfileCreate input[type='text'], #formProfileCreate input[type='password']
        {
            border-top: 1px solid #888;
            border-bottom: 1px solid #B6B6B6;
            border-left: 1px solid #AAA;
            border-right: 1px solid #AAA;
            margin: 0;
            overflow: auto;
            background: white;
            box-shadow: inset 0 1px 2px #888;
        }
        
        #button-container
        {
            text-align: right;
            padding-right: 20px;
        }
        
        #interestName
        {
            width: 99.5%;
            font-size: 25px;
            padding: 4px 0 4px 4px;
        }
        
        #stepLogin input[type='text'], #stepLogin input[type='password']
        {
            font-size: 20px;
            display: block;
        }
        
        #sociality label
        {
            height: 60px;
            float: left;
            text-align: center;
            font-size: 11px;
            font-weight: bold;
        }
        
        #sociality label img
        {
            height: 50px;
            display: block;
            padding: 0;
            margin: 0 auto;
        }
        
        #steps div
        {
            float: left;
            text-align: center;
            font-size: 20px;
            margin: 10px;
        }
        
    </style>
}

<div class="clear">
</div>
<!-- PAGE CONTENT START -->
<div class="wrapper">
    <div class="inner">
        <div class="content">
            <div id="steps">
            </div>
            <div class="clear">
            </div>
            @using (Html.BeginForm("Create", "User", FormMethod.Post, new { id = "formProfileCreate", @class = "ui-formwizard" }))
            {
                @Html.ValidationSummary(true)
    
                <fieldset class="step ui-formwizard-content" id="stepInterests">
                    <strong>Add your Interests</strong>
                    <div id="divInterestSearch">
                        <input type="text" id="interestName" placeholder="Type an interest..." />
                    </div>
                    <ul id="interestsList">
                    </ul>
                </fieldset>
                <fieldset class="step ui-formwizard-content" style="display: none;" id="stepLogin">
                    <strong style="display: block;margin-bottom: 50px;">Login</strong>
                    <div class="one_half">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Username)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Username)
                            @Html.ValidationMessageFor(model => model.Username)
                        </div>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Email)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Email)
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                        </div>
                        <div class="one_half last">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Password)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Password)
                            @Html.ValidationMessageFor(model => model.Password)
                        </div>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.PasswordVerify)
                        </div>  
                        <div class="editor-field">
                            @Html.EditorFor(model => model.PasswordVerify)
                            @Html.ValidationMessageFor(model => model.PasswordVerify)
                        </div>
                    </div>
                </fieldset>
                
                <div class="clear"></div>
                <p id="button-container">
                    <input type="submit" value="Next" class="button red" />
                    <input type="reset" value="Back" class="button" />
                </p>
            }
            <!-- SIDEBAR END -->
            <div class="clear">
            </div>
        </div>
    </div>
</div>
<!-- PAGE CONTENT END -->
<script id="tmplNewInterest" type="text/x-jquery-tmpl">
    
	<li style="display: none;">
        <a href='javscript:void(0)' class='remove-interest'></a>
		<div>
            <input type='hidden' name='Interests[${Index}].Id' value='${Id}' />
            <input type='hidden' name='Interests[${Index}].Name' value='${Name}' />
            <div class="title"><p>${Name}</p></div>
            {{if Id == 0 }}
                <div id="subcategory">
                    <label>Category</label><br />
                    <select name="Interests[${Index}].Category">
                        <option value="">Choose...</option>
                        <option>Animals</option>
                        <option>Arts and Humanities</option>
                        <option>Automotive</option>
                        <option>Beauty</option>
                        <option>Business</option>
                        <option>Computers</option>
                        <option>Entertainment</option>
                        <option>Local</option>
                        <option>News</option>
                        <option>Photo and Video</option>
                        <option>Real Estate</option>
                        <option>Recreation</option>
                        <option>Reference</option>
                        <option>Science</option>
                        <option>Finance</option>
                        <option>Food and Drink</option>
                        <option>Games</option>
                        <option>Home and Garden</option>
                        <option>Industries</option>
                        <option>Internet</option>
                        <option>Lifestyles</option>
                        <option>Shopping</option>
                        <option>Social Networks</option>
                        <option>Society</option>
                        <option>Sports</option>
                        <option>Telecommunications</option>
                        <option>Travel</option>
                    </select>
                </div>
            {{/if}}
            <div id="sociality">
                <label class="level1">
                    <img src="@Url.Content("~/Content/img/social1.png")" />
                    <input type="radio" name="Interests[${Index}].Sociality" value="0" /><br />
                    Alone
                </label>
                <label class="level2">
                    <img src="@Url.Content("~/Content/img/social2.png")" />
                    <input type="radio" name="Interests[${Index}].Sociality" value="50" /><br />
                    Small
                </label>
                <label class="level3">
                    <img src="@Url.Content("~/Content/img/social3.png")" />
                    <input type="radio" name="Interests[${Index}].Sociality" value="100" /><br />
                    Large
                </label>
            </div>
        </div>
	</li>
</script>

<script id="tmplStepIndicator" type="text/x-jquery-tmpl">
    <div>
        <a href="#${StepId}" class="button">
            <strong>${StepNumber}</strong> - ${StepTitle}
        </a>
    </div>
</script>

@section scripts
{
    <script type="text/javascript" src="@Url.Content("/Content/js/jquery.tmpl.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Content/js/jquery.form.wizard.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Content/js/interestpicker.jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Content/js/mvcfoolproof.unobtrusive.js")"></script>
    <script type="text/javascript">
        var ProfileCreate = {
            //the textbox the user types their interest into
            interestTextBox: null,
            //the div holding the category questions
            divInterestCategory: null,

            //the create form
            formProfileCreate: null,

            //the list of added interests
            interestsList: null,

            tmplNewInterest: null,
            tmplStepIndicator: null,
            steps: null,

            init: function () {
                $(document).ready(function () {
                    //bind all the elements we need
                    interestTextBox = $("#interestName");
                    divInterestCategory = $("#divInterestCategory");
                    interestsList = $("#interestsList");
                    tmplNewInterest = $("#tmplNewInterest");
                    tmplStepIndicator = $("#tmplStepIndicator");
                    steps = $("#steps");


                    //find the user create form
                    formProfileCreate = $("#formProfileCreate");
                    
                    //each fieldset is a step in in the wizard.
                    //The <strong> tag will serve all the title
                    //add an indicator for each step in the wizard
                    formProfileCreate.find("fieldset").each(function (index, element) {
                        var title = $(this).find("strong").text();
                        var stepId = $(this).attr("id");
                        var indicator = tmplStepIndicator.tmpl({ StepNumber: index + 1, StepTitle: title, StepId: stepId });
                        if (index == 0) {
                            indicator.find("a").addClass("blue");
                        }
                        indicator.appendTo(steps);
                    });

                    //create the form wizard
                    formProfileCreate.formwizard({
                        disableUIStyles: true,
                        inDuration: 100,
                        outDuration: 100,
                    })
                    .bind("step_shown", function (event, data) {
                        var selectedCssClass = "blue";

                        //Whenever a step is show, update the indicators to reflect the step
                        //their looking at.

                        //get all the indicators with the selectedCssClass and remove the class
                        steps.find("a[class~='" + selectedCssClass + "']").removeClass(selectedCssClass);

                        //mark the currently selected step
                        steps.find("a[href='#" + data.currentStep + "']").addClass(selectedCssClass);
                    });

                    //bind the indicators to move to the step whenever it's clicked
                    steps.find("a").click(function (event) {
                        event.preventDefault();
                        var step = $(this).attr("href").replace("#", "");
                        formProfileCreate.formwizard("show",step);
                    });


                    interestTextBox.interestpicker();

                    //whenever the link 'a.remove-interest' is clicked
                    //it should remove the interest from the list of added interests
                    interestsList.on("click", "a.remove-interest", function (event) {
                        event.preventDefault();

                        $(this)         //the anchor clicked
                        .parents("li")  //get the closest parent li
                        .fadeOut(function () { //fade it out
                            $(this).remove();   //then remove it
                        });
                    });


                });
            }
        };

        ProfileCreate.init();
    </script>
}