
@{
	Layout = "~/Views/User/_Profile.cshtml";
}
@using System.Configuration
@using System.Globalization
@using CliqFlip.Domain.Common
@model CliqFlip.Web.Mvc.ViewModels.User.UserProfileIndexViewModel

@section beforeHeadClose
{
	@*TODO: have config vales like appid part of viewmodel*@
	

	@{
		if (Model.AuthenticatedProfileOwner && string.IsNullOrWhiteSpace(Model.FacebookUsername))
		{
			<text>
				<script type="text/javascript" language="javascript">
					window.fbAsyncInit = function() {
						window.FB.init({
							appId: '@ConfigurationManager.AppSettings[Constants.FACEBOOK_APPID]', // App ID
							//channelUrl: '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
							status: true, // check login status
							cookie: true, // enable cookies to allow the server to access the session
							xfbml: true  // parse XFBML
						});
					};

					// Load the SDK Asynchronously
					(function(d) {
						var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
						if (d.getElementById(id)) {
							return;
						}
						js = d.createElement('script');
						js.id = id;
						js.async = true;
						js.src = "//connect.facebook.net/en_US/all.js";
						ref.parentNode.insertBefore(js, ref);
					}(document));
				</script>
		
			</text>
		}
	}
}

@if (Model.AuthenticatedProfileOwner)
{
	<div class="uploadProfileImageData">
		@using (Html.BeginForm("SaveProfileImage", "User", FormMethod.Post, new {@encType = "multipart/form-data"}))
		{
			@Html.ValidationSummary()
			@FileUpload.GetHtml("profileImage", initialNumberOfFiles: 1, allowMoreFilesToBeAdded: false, uploadText: "Upload Photo")
		}
	</div>
}
<!-- Blog Post -->
<div class="blog-post">
	<div class="post-entry">
		<div class="headline" id="profileHeadline">
			<h2 id="headlineText">@Model.Headline</h2>
		</div>
		<p id="saveMindMapText">
			Mind map saved</p>
		<div id="mindMap" class="profileMindMap">
		</div>
		<div id="profileBio" class="bio">
			<p id="bioText">@Model.Bio</p>
		</div>
	</div>
</div>
<!-- END Blog Post -->
<!-- SIDEBAR START -->
<div class="sidebar">
	<!-- SIDEBAR SEARCH START -->
	<div class="sidebar_item">
		<div class="search">
			<input class="search_submit" value="" type="submit">
			<input class="search_box" type="text" value="Search..." onfocus="if (this.value == 'Search...') {this.value = '';}"
				   onblur="if (this.value == '') {this.value = 'Search...';}">
		</div>
	</div>
	<!-- SIDEBAR SEARCH END -->
	<!-- SIDEBAR RECENT POSTS START -->
	<div class="sidebar_item recent-posts">
		<strong>Link CliqFlip to your other social networks</strong>
		<ul>
			<li>
				<div id="facebook-connect" class="social-media-username-container">
					<img src="@Url.Content("~/Content/img/f_logo.png")" alt="Facebook" />
					<p class="facebookText social-media-text @Html.Raw(Model.AuthenticatedProfileOwner ? "editable" : "")" >
						@if (String.IsNullOrWhiteSpace(Model.FacebookUsername))
						{
							if (Model.AuthenticatedProfileOwner)
							{
								<a id="facebook-connect" href="javascript:void(0)">Link to Facebook</a>
							}
						}
						else
						{
							@:Linked...
						}
					</p>
				</div>
			</li>
			<li>
				<div class="social-media-username-container" id="twitterUsername">
					<img  src="https://si0.twimg.com/a/1329332580/images/logos/twitter_newbird_blue.png"
						  alt="Twitter" />
					<p id="twitterUsernameText" class="social-media-text">@Model.TwitterUsername</p>
				</div>
			</li>
			<li>
				<div class="social-media-username-container" id="youTubeUsername">
					<img  src="http://s.ytimg.com/yt/img/creators_corner/YouTube/40x40_yt_white.png" alt="Twitter" />
					<p id="youTubeUsernameText" class="social-media-text">@Model.YouTubeUsername</p>
				</div>
			</li>
			<li>
				<div class="social-media-username-container" id="websiteUrl">
					<img src="http://blog.zobristinc.com/wp-content/themes/dfblog/images/icons/RSS_Logo.png"
						 alt="Website" />
					<p id="websiteUrlText" class="social-media-text">@Model.WebsiteUrl</p>
				</div>
			</li>
		</ul>
	</div>
	<!-- SIDEBAR RECENT POSTS END -->
</div>
<!-- SIDEBAR END -->
<div id="fb-root">
</div>
@section beforeBodyClose
{
	<script type="text/javascript" src="@Url.Content("/Content/js/raphael/raphael.js")"> </script>
	<script type="text/javascript" src="@Url.Content("/Content/js/raphael/raphael.cliqFlip.js")"> </script>
	<script type="text/javascript" src="@Url.Content("/Content/js/user/profile.js")"> </script>
	<script type="text/javascript" src="@Url.Content("/Content/js/cliqFlip/ui.js")"> </script>
	<script type="text/javascript" src="@Url.Content("/Content/js/jquery.jeip.js")"> </script>
	<script type="text/javascript">
		$(function() {
			InitUser(@(Model.AuthenticatedProfileOwner.ToString(CultureInfo.InvariantCulture).ToLower()));
			InitSocial(@(Html.Raw(Model.SocialPageUrl)));
			InitHeadline(@(Html.Raw(Model.SaveHeadlineUrl)));
			InitBio(@(Html.Raw(Model.SaveBioUrl)));
			InitMindMap(@(Html.Raw(Model.InterestsJson)), @(Html.Raw(Model.SaveMindMapUrl)));
			InitTwitterUsername(@(Html.Raw(Model.SaveTwitterUsernameUrl)));
			InitYouTubeUsername(@(Html.Raw(Model.SaveYouTubeUsernameUrl)));
			InitWebsiteUrl(@(Html.Raw(Model.SaveWebsiteUrl)));
			InitFacebook();
		});
	</script>
}