@using System.Globalization
@using CliqFlip.Web.Mvc.ViewModels.User
@model CliqFlip.Web.Mvc.ViewModels.User.UserInterestsViewModel
@{
	Layout = "~/Views/User/_Profile.cshtml";
}
@section styles
{
}
@Html.ValidationSummary()
<div id="interests-container">
	@foreach (UserInterestsViewModel.InterestViewModel interest in Model.Interests)
	{
		<div class="user-interest">
			<div class="user-interest-title">
				<strong>@interest.Name</strong> <a class="user-interest-title-add-photo" value="@interest.UserInterestId" href="javascript:void(0);" title="add photo">
													<span>add photo</span></a>
			</div>
			<ul class="intereset-slider">
				@foreach (UserInterestsViewModel.InterestImageViewModel image in interest.Images)
				{
					<li>
						<div class="interest-slider-panel-container">
							<a rel="interest" title="@Model.Username" href="@image.FullImage">
								<img src="@image.MediumImage" alt="@Model.Username @interest.Name Image"/>
							</a>
						</div>
					</li>
				}
			</ul>
		</div>
	}
</div>
<div class="user-interest-add-photo-dialog" id="add-photo">
	<h2>
		Add a photo</h2>
	<div class="uploadInterestImage">
		@using (Html.BeginForm("SaveInterestImage", "User", FormMethod.Post, new {@encType = "multipart/form-data"}))
		{
			@Html.Hidden("userInterestId", null, new {@id = "userInterestId"})
			@FileUpload.GetHtml("profileImage", initialNumberOfFiles: 1, allowMoreFilesToBeAdded: false, uploadText: "Upload Photo")
			<div class="divider">
			</div>
			<h2>
				Description:</h2>
			@Html.TextArea("imageDescription", new {@class = "image-upload-description"})
		}
	</div>
</div>
@section scripts
{
	<script type="text/javascript" src="@Url.Content("/Content/js/user/interests.js")"> </script>
	<script type="text/javascript">
		$(function() {
			InitInterests(@(Model.CanEdit.ToString(CultureInfo.InvariantCulture).ToLower()));
			InitSaveImages();
			InitShowImages();

		});
	</script>
}