@using System.Globalization
@using CliqFlip.Web.Mvc.ViewModels.User
@model UserInterestsViewModel

@{ 
	Layout = "~/Views/User/_Profile.cshtml";
}
@section styles
{
	<style type="text/css">
		#slider {
			width: 350px;
			height: 180px;
		}
		
		#interests-container .anythingSlider {
			margin-top: 2px;
		}
	</style>
}		   
@Html.ValidationSummary()

<div id="interests-container">
	@foreach (UserInterestsViewModel.InterestViewModel interest in Model.Interests.Take(1))
	{
		<div class="user-interest">
			<div class="user-interest-title">
				<strong>@interest.Name</strong>
				<a class="user-interest-title-add-photo" value="@interest.UserInterestId" href="javascript:void(0);" title="add photo">
					<span>add photo</span></a>
			</div>
			<div id="">
				<ul id="slider" style="display:none;">
					@foreach (UserInterestsViewModel.InterestImageViewModel image in interest.Images)
					{
						<li>
							<div style="height:180px;">
							<img src="@image.MediumImage" alt="@Model.Username @interest.Name Image"/>
							</div>
						</li>
					}
					@*<li><img src="http://proloser.github.com/AnythingSlider/demos/images/slide-civil-1.jpg" alt=""></li>

		<li><img src="http://proloser.github.com/AnythingSlider/demos/images/slide-env-1.jpg" alt=""></li>

		<li><img src="http://proloser.github.com/AnythingSlider/demos/images/slide-civil-2.jpg" alt=""></li>

		<li><img src="http://proloser.github.com/AnythingSlider/demos/images/slide-env-2.jpg" alt=""></li>
*@
				</ul>
				</div>
		@*	<div class="user-interest-content">
				<div class="user-interest-content-image-container">
					@foreach (UserInterestsViewModel.InterestImageViewModel image in interest.Images)
					{
						<img class="user-interest-content-image" src="@image.MediumImage"/>
					}
				</div>
			</div>*@
		</div>
	}
	<div class="clear">
	</div>
</div>
<div class="" id="add-photo">
	<h2>
		Add a photo</h2>
	<div class="uploadInterestImage">
		@using (Html.BeginForm("SaveInterestImage", "User", FormMethod.Post, new {@encType = "multipart/form-data"}))
		{
			@Html.Hidden("userInterestId", null, new {@id = "userInterestId"})
			@FileUpload.GetHtml("profileImage", initialNumberOfFiles: 1, allowMoreFilesToBeAdded: false, uploadText: "Upload Photo")
		}
	</div>
</div>

@section scripts
{
	<script type="text/javascript" src="@Url.Content("/Content/js/user/interests.js")"> </script>
	<script type="text/javascript">
		$(function() {
//			InitInterests(@(Model.CanEdit.ToString(CultureInfo.InvariantCulture).ToLower()));
//			InitSaveImages();
			$('#slider').anythingSlider(
				{
					resizeContents: false, 
					theme: "default1",
					buildStartStop: false
				}).show();
		});
	</script>
}