@using System.Globalization
@using CliqFlip.Web.Mvc.ViewModels.User
@model CliqFlip.Web.Mvc.ViewModels.User.UserInterestsViewModel
@{
	Layout = "~/Views/User/_Profile.cshtml";
}
@*div.anythingSlider-default1{ margin: 0 1px;}*@
@section beforeHeadClose
{
    @*Absolute Positioning

    An absolute position element is positioned relative to the 
    first parent element that has a position other than static. 
    If no such element is found, the containing block is <html>*@
	<style type="text/css">
		.add-interest { margin-left: 6px; }
		.interest-slider-panel-container a
		{
		    margin: 0 auto;
		    display: inline-block;
		    position: relative;
		}
		.interest-slider-panel-container img
		{
		    padding: 2px 0px;
		    max-height: 112px;
		    max-width: 150px;   
		}
		span.video-indicator
		{ 
		    background-image: url("/content/img/video-play.png");
		    height: 26px;
            left: 40%;
            bottom: 40%;
            position: absolute;
            width: 35px;
		}

        .interest-slider-panel-container p
        {
            height: 38px;
        }
		
		.interest-slider-panel-container strong
		{
		    max-width: 255px;
            margin: 5px auto;
            display: block;
		}
		
		.interest-slider-panel-container div
		{
		    max-width: 255px;
            margin: 0 auto;
            text-align: left;
            height: 90px;
		}
	</style>
}
@if (Model.AuthenticatedProfileOwner)
{
	<input type="button" value="Add Interest" class="button add-interest" id="add-interest-button" />
}
@Html.ValidationSummary()
<div id="interests-container">
	@foreach (UserInterestsViewModel.InterestViewModel interest in Model.Interests)
	{
		<div class="user-interest">
			<div class="user-interest-title">
				<strong>@interest.Name</strong>
				@if (Model.AuthenticatedProfileOwner)
				{
					<a class="user-interest-remove" title="remove interest" href='@Url.Action("RemoveInterest", new {interestId = interest.UserInterestId})'>
					</a>
				}
				else if (Model.AuthenticatedVisitor)
				{
					if (interest.VisitorSharesThisInterest)
					{
						<span class="shared-interest ui-icon ui-icon-heart" title="You are interested in @interest.Name too!">
						</span>
					}
					else
					{
						<a class="user-interest-add-single" title="add interest to your profile" href='@Url.Action("AddSingleInterest", new {interestId = interest.InterestId})'>
						</a>
					}
				}
				<div id="user-interest-add-text">
					<strong>Add:</strong> 
					<a href="javascript:void(0);" value="@interest.UserInterestId" class="user-interest-add-media user-interest-add-photo">Photo</a>
					<a href="javascript:void(0);" value="@interest.UserInterestId" class="user-interest-add-media user-interest-add-video">Video</a>
					<a href="javascript:void(0);" value="@interest.UserInterestId" class="user-interest-add-media user-interest-add-link">Link</a>
				</div>
			</div>
			<ul class="intereset-slider">
				@foreach (UserInterestsViewModel.InterestMediumViewModel medium in interest.Images)
				{
					<li>
						<div class="interest-slider-panel-container">
                            @Html.DisplayFor(_ => medium, medium.MediumType)
						</div>
					</li>
				}
			</ul>
		</div>
	}
</div>
@if (Model.AuthenticatedProfileOwner)
{
	<div class="user-interest-add-dialog" id="add-photo">
		@using (Html.BeginForm("SaveInterestImage", "User", FormMethod.Post, new {@encType = "multipart/form-data"}))
		{
			<h2>
				Description:</h2>
			@Html.TextArea("imageDescription", new {@class = "interest-upload-media-description"})
			//for some reason, the form would abruptly end when using fileuplaod BEFORe description
			<h2>
				Add a photo</h2>
			@Html.Hidden("userInterestId", null, new {@id = "userInterestIdPhoto"})
			@FileUpload.GetHtml("profileImage", initialNumberOfFiles: 1, allowMoreFilesToBeAdded: false, uploadText: "Upload Photo")
		}
	</div>

	<div class="user-interest-add-dialog" id="add-video">
		@using (Html.BeginForm("SaveInterestVideo", "User", FormMethod.Post))
		{
			<h2>Video URL:</h2>
			@Html.TextBox("videoUrl", "", new {@class = "interest-upload-media-description"})
			@Html.Hidden("userInterestId", null, new {@id = "userInterestIdVideo"})
			<input type="submit" />
		}
	</div>

	<div class="user-interest-add-dialog" id="add-link">
		@using (Html.BeginForm("SaveInterestWebPage", "User", FormMethod.Post))
		{
			<h2>Link URL:</h2>
			@Html.TextBox("linkUrl", "", new {@class = "interest-upload-media-description"})
			@Html.Hidden("userInterestId", null, new {@id = "userInterestIdLink"})
			<input type="submit" />
		}
	</div>

	<div class="user-interest-add-dialog" id="add-interest">
		@using (Html.BeginForm("AddInterests", "User"))
		{
			Html.RenderPartial("_AddInterest");
			<input type="submit" value="OK" class="button" style="margin-left: 20px;" />
		}
	</div>
}
@section beforeBodyClose
{
	<script type="text/javascript" src="@Url.Content("/Content/js/jquery.tmpl.js")"> </script>
	<script type="text/javascript" src="@Url.Content("/Content/js/user/interests.js")"> </script>
    <script type="text/javascript" src="@Url.Content("/Content/js/jquery.dotdotdot-1.2.1.js")"> </script>
	<script type="text/javascript" src="@Url.Content("/Content/js/user/add-interest.js")"> </script>
	<script type="text/javascript">
		$(function() {
            //$(".interest-slider-panel-container").find("p, a strong,a div").filter(":visible").dotdotdot();
			InitInterests(@(Model.AuthenticatedProfileOwner.ToString(CultureInfo.InvariantCulture).ToLower()));
			InitSaveImages();
			InitShowImages(@(Html.Raw(Model.MakeDefaultUrl)), @(Html.Raw(Model.RemoveImageUrl)));
			@{
				if (Model.AuthenticatedVisitor)
				{
					@:AddInterestToVisitorProfile();
				}
				else if (Model.AuthenticatedProfileOwner)
				{
					@:InitAddInterest();
				}
			};
		});
	</script>
}