@using System.Globalization
@using CliqFlip.Web.Mvc.ViewModels.User
@model CliqFlip.Web.Mvc.ViewModels.User.UserInterestsViewModel
@{
	Layout = "~/Views/User/_Profile.cshtml";
}

@if (Model.AuthenticatedProfileOwner)
{
	<input type="button" value="Add Interest" class="button add-interest" id="add-interest-button" />
}
@Html.ValidationSummary()
<div id="interests-container">
	@foreach (UserInterestsViewModel.InterestViewModel interest in Model.Interests)
	{
		<div class="user-interest">
			<div class="user-interest-title">
				<strong>@interest.Name</strong>
				@if (Model.AuthenticatedProfileOwner)
				{
					<a class="user-interest-remove" title="remove interest" href='@Url.Action("RemoveInterest", new {interestId = interest.UserInterestId})'>
					</a>
					<div id="user-interest-add-text">
						<strong>Add:</strong> 
						<a href="javascript:void(0);" value="@interest.UserInterestId" class="user-interest-add-media user-interest-add-photo">Photo</a>
						<a href="javascript:void(0);" value="@interest.UserInterestId" class="user-interest-add-media user-interest-add-video">Video</a>
						<a href="javascript:void(0);" value="@interest.UserInterestId" class="user-interest-add-media user-interest-add-link">Link</a>
					</div>
				}
				else if (Model.AuthenticatedVisitor)
				{
					if (interest.VisitorSharesThisInterest)
					{
						<span class="shared-interest ui-icon ui-icon-heart" title="You are interested in @interest.Name too!">
						</span>
					}
					else
					{
						<a class="user-interest-add-single" title="add interest to your profile" href='@Url.Action("AddSingleInterest", new {interestId = interest.InterestId})'>
						</a>
					}
				}
			</div>
			<ul class="intereset-slider">
				@foreach (UserInterestsViewModel.UserInterestMediumViewModel medium in interest.Media)
				{
					<li>
						<div class="interest-slider-panel-container">
							@Html.DisplayFor(_ => medium, medium.MediumType)
						</div>
					</li>
				}
			</ul>
		</div>
	}
</div>
@if (Model.AuthenticatedProfileOwner)
{
	<div class="user-interest-add-dialog" id="add-photo">
		@using (Html.BeginForm("SaveInterestImage", "User", FormMethod.Post, new {@encType = "multipart/form-data"}))
		{
			<h2>
				Description:</h2>
			@Html.TextArea("imageDescription", new {@class = "interest-upload-media-description"})
			//for some reason, the form would abruptly end when using fileuplaod BEFORe description
			<h2>
				Add a photo</h2>
			@Html.Hidden("userInterestId", null, new {@id = "userInterestIdPhoto"})
			@FileUpload.GetHtml("profileImage", initialNumberOfFiles: 1, allowMoreFilesToBeAdded: false, uploadText: "Upload Photo")
		}
	</div>

	<div class="user-interest-add-dialog" id="add-video">
		@using (Html.BeginForm("SaveInterestVideo", "User", FormMethod.Post))
		{
			<h2>Video URL:</h2>
			@Html.TextBox("videoUrl", "", new {@class = "interest-upload-media-description"})
			@Html.Hidden("userInterestId", null, new {@id = "userInterestIdVideo"})
			<input type="submit" />
		}
	</div>

	<div class="user-interest-add-dialog" id="add-link">
		@using (Html.BeginForm("SaveInterestWebPage", "User", FormMethod.Post))
		{
			<h2>Link URL:</h2>
			@Html.TextBox("linkUrl", "", new {@class = "interest-upload-media-description"})
			@Html.Hidden("userInterestId", null, new {@id = "userInterestIdLink"})
			<input type="submit" />
		}
	</div>

	<div class="user-interest-add-dialog" id="add-interest">
		@using (Html.BeginForm("AddInterests", "User"))
		{
			Html.RenderPartial("_AddInterest");
			<input type="submit" value="OK" class="button" style="margin-left: 20px;" />
		}
	</div>
}
@section beforeBodyClose
{
	<script type="text/javascript" src="@Url.Content("/Content/assets/js/jquery.tmpl.js")"> </script>
	<script type="text/javascript" src="@Url.ContentWithVersioning("/Content/assets/js/user/interests.js")"> </script>
	<script type="text/javascript" src="@Url.ContentWithVersioning("/Content/assets/js/user/add-interest.js")"> </script>
	<script type="text/javascript">
		$(function() {
			InitInterests(@(Model.AuthenticatedProfileOwner.ToString(CultureInfo.InvariantCulture).ToLower()));
			InitSaveMedia();
			InitShowMedia(@(Html.Raw(Model.MakeDefaultUrl)), @(Html.Raw(Model.RemoveImageUrl)));
			@{
				if (Model.AuthenticatedVisitor)
				{
					@:AddInterestToVisitorProfile();
				}
				else if (Model.AuthenticatedProfileOwner)
				{
					@:InitAddInterest();
				}
			};
		});
	</script>
}