@model CliqFlip.Web.Mvc.ViewModels.User.UserLandingPageViewModel

@{
	ViewBag.Title = "Welcome " + Model.Username;
	Bundles.Reference("Content/templates");
}

@section  beforeHeadClose
{
	<link rel="stylesheet" type="text/css" media="all" href="@Url.Content("/Content/styles/autoSuggest.css")" />
}
<div class="divider"></div>

<div class="landing-container">
	<a href="@Url.Action("Index")" class="landing-page-button">
		<div class="landing-page-direction" id="landig-page-profile">
			<h2>My Profile</h2>
			<h6>(edit your profile)</h6>
		</div>
	</a>
	<a href="@Url.Action("Inbox")" class="landing-page-button">
		<div class="landing-page-direction" id="landig-page-inbox">
			<h2>Inbox</h2>
			<h6>(check your mail)</h6>
		</div>
	</a>
	<a href="@Url.Action("Flip")" class="landing-page-button"  title="Find Random User">
		<div class="landing-page-direction" id="landig-page-suggested">
			<h2>Flip</h2>
			<h6>(browse random users)</h6>
		</div>
	</a>
	<a href="javascript:UserVoice.showPopupWidget();" class="landing-page-button" title="Open feedback & support dialog (powered by UserVoice)">
		<div class="landing-page-direction" id="landig-page-feedback">
			<h2>Feedback</h2>
			<h6>(give us some suggestions)</h6>
		</div>
	</a>
	<div class="clear"></div>
</div>
<div class="line"></div>
@{ Html.RenderAction("InterestSearch", "Search"); }
<div class="line"></div>
<h3 style="text-align:center;">Check out the latest interests</h3>
<div id="interest-feed">
	
</div>

<div id="detailed-interest-item">
</div>

<div class="heading_box">
<h1>Extras</h1>
@{Html.RenderPartial("_Bookmarklet");}
</div>

@section beforeBodyClose
{
	<script type="text/javascript" src="@Url.Content("/Content/js/jquery.autoSuggest.js")"> </script>
	<script type="text/javascript" src="@Url.Content("/Content/js/jquery.tagcloud.js")"> </script>
	<script type="text/javascript" src="@Url.Content("/Content/js/search/interest-search.js")"> </script>
	<script type="text/javascript" src="@Url.Content("/Scripts/underscore.min.js")"> </script>
	<script type="text/javascript" src="@Url.Content("/Scripts/backbone.js")"> </script>
	<script type="text/javascript" src="@Url.Content("/Content/js/hogan.js")"> </script>
	<script type="text/javascript" src="@Url.ContentWithVersioning("/Content/js/user/landing.js")"> </script>

	@Bundles.RenderHtmlTemplates()

	<script type="text/javascript">
		@*TODO: implement something without duplciation - http://stackoverflow.com/questions/5433531/using-sections-in-editor-display-templates/5433722#5433722 *@
		$(function() {
			InitAutoSuggest('@(Html.Raw(Url.Action("Interest", "Search")))');

			InitTagCloud();

			ChangeSearchQueryParamName();

			InitFeed('@(Html.Raw(Url.Action("InterestFeed", "Search")))');
		});
	</script>
}