@model CliqFlip.Web.Mvc.ViewModels.User.UserLandingPageViewModel

@{
	ViewBag.Title = "Welcome " + Model.Username;
}

@section  styles
{
	<link rel="stylesheet" type="text/css" media="all" href="@Url.Content("/Content/styles/autoSuggest.css")" />
}
<div class="divider"></div>

<div style="padding: 10px;width:700px;margin:0 auto;">
	<a href="@Url.Action("Flip")" style="display: inline-block;float: left;margin-right:170px;">
		<div style="background: url('/Content/img/profile.png') no-repeat; background-position: center top; padding-top: 135px; text-align: center; width: 110px;">
			<h2>My Profile</h2>
		</div>
	</a>
	<a href="@Url.Action("Flip")" style="display: inline-block;float: left;margin-right:170px;">
		<div style="background: url('/Content/img/inbox.png') no-repeat; background-position: center top; padding-top: 135px; text-align: center; width: 110px;">
			<h2>Inbox</h2>
		</div>
	</a>
	<a href="@Url.Action("Flip")" style="display: inline-block;float: left;">
		<div style="background: url('/Content/img/suggested.png') no-repeat; background-position: center top; padding-top: 135px; text-align: center; width: 110px;">
			<h2>Suggested User</h2>
		</div>
	</a>
	<div class="clear"></div>
</div>
			

<div class="tryout">
	<div class="header">
		Welcome, @Model.Username
	</div>
	<div class="subheader">
		@Model.Headline</div>
	@{ Html.RenderAction("InterestSearch", "Search"); }
</div>

@section scripts
{
	<script type="text/javascript" src="@Url.Content("/Content/js/jquery.autoSuggest.js")"> </script>
	<script type="text/javascript" src="@Url.Content("/Content/js/jquery.tagcloud.js")"> </script>
	<script type="text/javascript" src="@Url.Content("/Content/js/search/interest-search.js")"> </script>
	<script type="text/javascript">
		@*TODO: implement something without duplciation - http://stackoverflow.com/questions/5433531/using-sections-in-editor-display-templates/5433722#5433722 *@
		$(function() {
			InitAutoSuggest('@(Html.Raw(Url.Action("Interest", "Search")))');

			InitTagCloud();

			ChangeSearchQueryParamName();
		});
	</script>
}