@model CliqFlip.Web.Mvc.ViewModels.User.UserLoginViewModel
@{
	var ajaxOptions = new AjaxOptions
	{
		OnSuccess = "FormLogin_OnSuccess",
		UpdateTargetId = "login-summary",
		LoadingElementId = "login-progress"
	};
}
@using (Ajax.BeginForm("Login", "User", ajaxOptions))
{
	@Html.ValidationSummary(true)
	<a id="close-login" href="javascript:;">
		<img class="login-close" alt="close login" src="@Url.Content("/Content/img/close.png")" />
	</a>
	<div class="clear">
	</div>
	<div id="login-progress">
		Loggin in....
	</div>
	<div id="login-summary">
	</div>
	<fieldset>
		<div class="editor-label">
			@Html.LabelFor(model => model.Username)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Username)
			@Html.ValidationMessageFor(model => model.Username)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Password)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Password)
			@Html.ValidationMessageFor(model => model.Password)
		</div>
		<label>
			Keep me logged in @Html.EditorFor(model => model.LogMeIn)
		</label>
		<p>
			<input type="submit" value="Login" />
		</p>
	</fieldset>
}