@model CliqFlip.Web.Mvc.ViewModels.User.UserProfileViewModel
@section styles
{
	<style type="text/css">
		body { background-color: #D1E1E7; }
		
		
		#youtube a span
		{
		    color: Black;
		}
		#youtube a:hover
		{
		    background-color: #CBDBE1;
		}
		
		.youtube-playlist-info
		{
		     display: none;
		}
		
		.youtube-playlist-info li, .youtube-user-info li
		{
		     display: block;
		}
		
		.youtube-playlist-item a, .youtube-user-item a
		{
		    display: block;
		    height: 70px;
		    padding: 7px 4px;
		}
		.youtube-playlist-item a img
		{
		    width: 25%; 
		    float: left;
		}
		.youtube-playlist-item a span
		{
		    display: inline-block; 
		    margin-left: 10px; 
		    text-align: left; 
		    width: 70%;
		}
		.not-shared
		{
		    border: medium none !important;
		    padding-top: 80px;
		}
	</style>
    @*<link href="http://tweet.seaofclouds.com/jquery.tweet.css" type="text/css" rel="Stylesheet" />*@
}
<div class="divider">
</div>
<div class="wrapper">
	<div class="inner">
		<div id="social-media" class="content">
			<!-- Blog Post -->
			<div class="blog-post">
				<div class="post-info">
					<div class="blogdate">
						<div class="month">
							Jun</div>
						<div class="day">
							29</div>
						<div class="year">
							2011</div>
					</div>
					<div class="category">
						<ul>
							@Html.ActionMenuItem("Home", "Index", "User")
							@Html.ActionMenuItem("Social Media", "SocialMedia", "User")
							@Html.ActionMenuItem("Interests", "Interests", "User")
						</ul>
					</div>
					<p class="post_author">
						by Marius Pop
                    </p>
				</div>
                <div id="social-media-container" style="margin-left: 130px;">
                    <div class="social-media">
                        <strong>
                            Facebook
                        </strong>
                        <div id="facebook" class="social-media-content">
                            @*@Facebook.ActivityFeed("http://www.facebook.com/pepsi")*@
                        </div>
					</div>
                    <div class="social-media">
						<strong>
                            Twitter
                        </strong>
                        <div id="twitter" class="social-media-content">
                            @Html.DisplayTwitter()
                        </div>
					</div>
                    <div class="social-media">
						<strong>
                            YouTube
                        </strong>
                        <div id="youtube" class="social-media-content">
                            @Html.DisplayYouTube()
                        </div>
					</div>
                    <div class="social-media">
                        <strong>
                            Blog Title
                        </strong>
                        <div id="blog" class="social-media-content">
                        </div>
					</div>
                </div>
			</div>
			<!-- END Blog Post -->
		</div>
	</div>
	<div class="clear">
	</div>
</div>

@section scripts
{
    <script type="text/javascript" src="@Url.Content("/Content/js/user/socialmedia.js")"> </script>
    <script type='text/javascript'>
        jQuery(function ($) {
            initYouTube("@Model.YouTubeUsername");
        });
    </script>
    <style type="text/css">
        /*The css rules need to be placed here or the framework generated css will override our css.*/
        .twtr-hd h3
		{
		    font-size: 12px !important;
		    line-height: 15px !important;
		}
        .twtr-ft
		{
		    display: none;
		}
    </style>
}