@using CliqFlip.Web.Mvc.ViewModels.Search
@model InterestSearchViewModel
@{
	ViewBag.Title = "CliqFlip - Discover More";
}
@section beforeHeadClose
{
	<link rel="stylesheet" type="text/css" media="all" href="@Url.Content("~/Content/assets/styles/plugins/autoSuggest.css")" />
}
<!-- SLIDER TRYOUT START-->
<div class="tryout">
	<div class="header">
		CliqFlip helps you discover other people with similar interests, social traits, and
		personality.
	</div>
	<div class="subheader">
		Why don't you give it a try?</div>
	@{ Html.RenderAction("InterestSearch", "Search"); }
</div>
<!-- SLIDER TRYOUT END-->
<!-- SERVICES BOX START -->
<div class="servicebox">
	<div class="icon">
		<img src="@Url.Content("/Content/assets/images/lower-1.png")" alt=""></div>
	<div class="title">
		You</div>
	<div class="text-content">
		Enter in your interest and instantly start browsing other people with similar or
		complimentary interests.</div>
</div>
<div class="servicebox">
	<div class="icon">
		<img src="@Url.Content("/Content/assets/images/lower-2.png")" alt=""></div>
	<div class="title">
		Them</div>
	<div class="text-content">
		Register and start building your profile so people can connect with you.
	</div>
</div>
<div class="servicebox">
	<div class="icon">
		<img src="@Url.Content("/Content/assets/images/lower-3.png")" alt=""></div>
	<div class="title">
		Connect</div>
	<div class="text-content">
		Build real connections and start networking with people online.
	</div>
</div>
<!-- SERVICES BOX END -->
<div class="clear"></div>
@section beforeBodyClose
{
	<script type="text/javascript" src="@Url.Content("~/Content/assets/scripts/jqueryPlugins/jquery.autoSuggest.js")"> </script>
	<script type="text/javascript" src="@Url.Content("~/Content/assets/scripts/jqueryPlugins/jquery.tagcloud.js")"> </script>
	<script type="text/javascript" src="@Url.Content("~/Content/assets/scripts/cliqflip/search/interest-search.js")"> </script>
	<script type="text/javascript">
		@*TODO: implement something without duplciation - http://stackoverflow.com/questions/5433531/using-sections-in-editor-display-templates/5433722#5433722 *@
		$(function() {
			InitAutoSuggest('@(Html.Raw(Url.Action("Interest","Search")))');

			InitTagCloud();

			ChangeSearchQueryParamName();
		});
	</script>
}