@model CliqFlip.Web.Mvc.ViewModels.Notification.LatestNotificationViewModel
@if (Model != null)
{
	<div id="notification" class="sticky hide">
		<p>@Html.Raw(Model.Message)</p>
		<a class="close" href="javascript:void(0);">
			<img src="@Url.Content("/Content/assets/images/icon-close.png")" /></a>
	</div>
	<script type="text/javascript" src="@Url.Content("~/Content/assets/scripts/jqueryPlugins/jquery.notify.js")"> </script>
	<script type="text/javascript" src="@Url.ContentWithVersioning("/Content/assets/scripts/notification/notification.js")"> </script>
	<script type="text/javascript" language="javascript">
		$(function () {
			InitNotification("@Model.NotificationCookie", "@Model.Id");
		});	
	</script>
}