@model CliqFlip.Web.Mvc.ViewModels.User.UserInterestsViewModel.InterestMediumViewModel

<a value="@Model.MediumId" title="@Model.Title" href="@Model.VideoUrl" medium="@Model.MediumType">
    <img src="@Model.MediumImage" alt="@Model.Title"/>
    <span class="video-indicator"></span>
</a>
<p>
    @Model.Description
</p>