@model CliqFlip.Web.Mvc.ViewModels.User.UserInterestsViewModel.InterestMediumViewModel

<a value="@Model.MediumId" title="title 2" href="@Model.VideoUrl">
    <img src="@Model.MediumImage" 
    alt="@Model.Title"/>
    <span class="video-indicator"></span>
</a>
<p>
    @Model.Description
</p>