@model CliqFlip.Web.Mvc.ViewModels.User.UserInterestsViewModel.UserInterestPostViewModel

<a value="@Model.MediumId" title="@Model.Title" href="@Model.WebSiteUrl" medium="@Model.MediumType">
    <strong>
        @Model.Title
    </strong>
    <div>
        @Model.Description
    </div>
</a>