@model CliqFlip.Web.Mvc.ViewModels.User.UserInterestsViewModel.UserInterestPostViewModel

<a value="@Model.PostId" title="@Model.Title" href="@Model.WebSiteUrl" medium="@Model.MediumType">
    <img src="@Model.MediumImage" 
        alt="@Model.Description"/>
</a>
<p>
    @Model.Description
</p>