@using CliqFlip.Web.Mvc.ViewModels.Search
@model CliqFlip.Web.Mvc.ViewModels.Search.UsersByInterestViewModel


@helper GetCssClass(int interestsWithImages)
{
    string cssClass = "";
    switch (interestsWithImages)
    {
        case 1:
            cssClass = "one-interest";
            break;
        case 2:
            cssClass = "two-interests";
            break;
        case 3:
            cssClass = "three-interests";
            break;
        case 4:
            cssClass = "four-interests";
            break;
    }
	@cssClass
}

@helper DisplayUserInterests(UsersByInterestViewModel.IndividualResultViewModel user)
{
    var maxInterests = 4;
    var interests = user.ResultInterestViewModels.ToList();
	<div class="userSearchInterest">
        <ul class="interest-slider">
        @while (interests.Any())
        {
            var currentSet = interests.Take(maxInterests).ToList();// work with 4 interests at a time
            <li>
                @foreach (var interest in currentSet)
                {
                    interests.Remove(interest);
					<div class="@GetCssClass(currentSet.Count)">
						@interest.InterestName<br />
                        @if (interest.DefaultImageUrl != null)
                        {
							<img alt="photo" src='@interest.DefaultImageUrl'/>
                        }
					</div>
                }
            </li>
        }
        </ul>
	</div>
}

@section  beforeHeadClose
{
	<link rel="stylesheet" type="text/css" media="all" href="@Url.Content("/Content/assets/styles/autoSuggest.css")" />
}

@if (Model.Results.Count > 0)
{
	<div id="userSearchResults">
		@foreach (var user in Model.PagedResults)
        {
			<div class="innerUserSearchResults">
				<h3>
					<div>
						<img class="innerResultPhoto profile-image" alt="photo" src='@user.ImageUrl'/>
					</div>
					<div>
						@user.Headline
					</div>
					@Html.ActionLink("- " + user.Name, "Index", "User", new { username = @user.Name }, new { @class = "user-profile" })
				</h3>
                
                @DisplayUserInterests(user)

				<div class="userSearchBio">
					@user.Bio
				</div>
				<div class="clear">
				</div>
			</div>
        }
		<div class="clear">
		</div>
		<div id="userSearchPaging">
			@Html.Raw(Html.Pager(Model.PagedResults).ToString())
		</div>
		<div class="tryout">
			@{ Html.RenderAction("InterestSearch", "Search"); }
		</div>
	</div>
}
else
{
	<div class="tryout">
		<div class="header">
			Sorry, no results were found for this query
		</div>
		<div class="subheader">
			Please try one of the popular terms below</div>
		@{ Html.RenderAction("InterestSearch", "Search"); }
	</div>
}

@section beforeBodyClose
{
	<script type="text/javascript" src="@Url.Content("/Content/assets/js/jquery.autoSuggest.js")"> </script>
	<script type="text/javascript" src="@Url.Content("/Content/assets/js/jquery.tagcloud.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/jquery.anythingslider.min.js")"> </script>
	<script type="text/javascript" src="@Url.Content("/Content/assets/js/search/interest-search.js")"> </script>
	<script type="text/javascript" src="@Url.Content("~/Content/assets/js/jquery.dotdotdot-1.2.1.min.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/search/index.js")"> </script>
	
	<script type="text/javascript">
	    $(document).ready(function () {
	        InitSearchPage();

	        InitAutoSuggest('@(Html.Raw(Url.Action("Interest", "Search")))');

	        InitTagCloud();

	        ChangeSearchQueryParamName();
	    });
	</script>
}