@using CliqFlip.Web.Mvc.ViewModels.Search
@model CliqFlip.Web.Mvc.ViewModels.Search.UsersByInterestViewModel


@helper GetCssClass(int interestsWithImages)
{
	string cssClass = "";
	switch (interestsWithImages)
	{
		case 1:
			cssClass = "one-interest";
			break;
		case 2:
			cssClass = "two-interests";
			break;
		case 3:
			cssClass = "three-interests";
			break;
		case 4:
			cssClass = "four-interests";
			break;
	}
	@cssClass
	;
}

@section  beforeHeadClose
{
	<link rel="stylesheet" type="text/css" media="all" href="@Url.Content("/Content/styles/autoSuggest.css")" />
}
@if (Model.Results.Count > 0)
{
	<div id="userSearchResults">
		@foreach (UsersByInterestViewModel.IndividualResultViewModel user in Model.PagedResults)
		{
			<div class="innerUserSearchResults">
				<h3>
					<div>
						<img class="innerResultPhoto profile-image" alt="photo" src='@user.ImageUrl'/>
					</div>
					<div>
						@user.Headline
					</div>
					@Html.ActionLink("- " + user.Name, "Index", "User", new {username = @user.Name}, new {@class = "user-profile"})
				</h3>
            
			
				<div class="userSearchInterest">
					@*if the user has matching interests with images shows those, otherwise just write out the interests*@
					@if (user.InterestsWithImages.Count != 0)
					{
						foreach (UsersByInterestViewModel.IndividualResultInterestViewModel interest in user.InterestsWithImages)
						{
							<div class="@GetCssClass(user.InterestsWithImages.Count)">
								@interest.InterestName<br />
								<img alt="photo" src='@interest.DefaultImageUrl'/>
							</div>
						}
					}
					else
					{
						<ul>
							@foreach (UsersByInterestViewModel.IndividualResultInterestViewModel interest in user.ResultInterestViewModels)
							{
								if (interest.IsMatch)
								{
									<li><span class="interestSearchExactMatch">@interest.InterestName</span></li>
								}
								else
								{
									<li>@interest.InterestName</li>
								}
							}
						</ul>
					}
				</div>
				<div class="userSearchBio">
					@user.Bio
				</div>
				<div class="clear">
				</div>
			</div>
		}
		<div class="clear">
		</div>
		<div id="userSearchPaging">
			@Html.Raw(Html.Pager(Model.PagedResults).ToString())
		</div>
		<div class="tryout">
			@{ Html.RenderAction("InterestSearch", "Search"); }
		</div>
	</div>
}
else
{
	<div class="tryout">
		<div class="header">
			Sorry, no results were found for this query
		</div>
		<div class="subheader">
			Please try one of the popular terms below</div>
		@{ Html.RenderAction("InterestSearch", "Search"); }
	</div>
}

@section beforeBodyClose
{
	<script type="text/javascript" src="@Url.Content("/Content/js/jquery.autoSuggest.js")"> </script>
	<script type="text/javascript" src="@Url.Content("/Content/js/jquery.tagcloud.js")"> </script>
	<script type="text/javascript" src="@Url.Content("/Content/js/search/interest-search.js")"> </script>
	<script type="text/javascript" src="@Url.Content("~/Content/js/jquery.dotdotdot-1.2.1.min.js")"> </script>
	<script type="text/javascript" src="@Url.Content("~/Content/js/search/index.js")"> </script>
	<script type="text/javascript">
		$(document).ready(function() {
			InitSearchPage();

			InitAutoSuggest('@(Html.Raw(Url.Action("Interest", "Search")))');

			InitTagCloud();

			ChangeSearchQueryParamName();
		});
	</script>
}