@using CliqFlip.Web.Mvc.ViewModels.Search
@model CliqFlip.Web.Mvc.ViewModels.Search.UsersByInterestViewModel
           

<div id="userSearchResults">
	@foreach (UsersByInterestViewModel.IndividualResultViewModel user in Model.PagedResults)
	{
		<div id="innerUserSearchResults">
			<h3>
                @user.Headline
				@Html.ActionLink(user.Name, "Index", "User", new {username = @user.Name}, null)
            </h3>
			<img class="innerResultPhoto" alt="photo" src='@Url.Content("/Content/img/star.png")'/>
			<ul class="userSearchInterest">
				@foreach (UsersByInterestViewModel.IndividualResultInterestViewModel interest in user.ResultInterestViewModels)
				{
					if (interest.IsMatch)
					{
						<li><span class="interestSearchExactMatch">@interest.InterestName</span></li>
					}
					else
					{
						<li>@interest.InterestName</li>
					}
				}
			</ul>
			<div class="userSearchBio">@user.Bio</div>
			<div class="clear">
			</div>
		</div>
	}
	<div id="userSearchPaging">
		@Html.Raw(Html.Pager(Model.PagedResults).ToString())
	</div>
</div>

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.dotdotdot-1.2.1.min.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("div.userSearchBio").dotdotdot();
        });
    </script>
}