@{
    Bundles.Reference("Content/assets/styles");
    Bundles.Reference("Scripts");
    Bundles.Reference("Content/assets/js");
}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
    <head runat="server">
        <meta charset="UTF-8" />
        <meta name="description" content="CliqFlip is a social platform that connects people
	on sociality, personality, and commonalitys" />
        <meta name="keywords" content="cliqflip, sociality, personality, commonality" />
        <link rel="shortcut icon" href="@Url.Content("/favicon.ico")" type="image/x-icon" />
        <title>@ViewBag.Title</title>
        <!-- Website Styles -->
        @Bundles.RenderStylesheets()
        @{
            Bundles.AddPageData("window.logErrorUrl", Url.Action("LogJavaScriptError", "Error", new { area = "" }));
        }
        @Bundles.RenderScripts("head") @*check cassette config file*@
        <!-- IE HTML5 Hack -->
        <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"> </script>
        <![endif]-->
        <!-- Google Font -->
        <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet'type='text/css' />
        @HtmlExtensions.GetAnalyticsHtmlIfAvailable()
    </head>
    <body>
        <div id="main-container">
            <div class="box">
                @RenderBody()
            </div>
        </div>		
        @Bundles.RenderScripts()
    </body>
</html>