@using CliqFlip.Common
@using CliqFlip.Web.Mvc.ViewModels.User
@*TODO: make this a helper in App_Code*@
<ul id="header-nav">
	@if (!Request.IsAuthenticated)
 {
		<li>
			@Html.ActionLink("Register Now!", "Create", "User", null, new { id = "user-register" })
		</li>
		<li>
			@Html.ActionLink("Login", "LoginAjax", "User", null, new { id = "user-login" })
			<div id="user-login-container">
				@{ Html.RenderPartial("~/Views/User/LoginAjax.cshtml", new UserLoginViewModel()); }
			</div>
		</li>
 }
 else
 {
		<li>
			@Html.RouteLink("Home", Constants.ROUTE_USER_HOME_PAGE)
		</li>
		<li>
			@Html.ActionLink("Profile", "Index", "User", new { username = User.Identity.Name }, null)
		</li>
		<li>
			@Html.ActionLink("Account", "Account", "User")
		</li>
		<li>
			@Html.ActionLink("Inbox (" + @Html.Action("NewMessageCount", "User", new { Area = "" }) + ")", "Inbox", "User", new { username = User.Identity.Name }, null)
		</li>
		<li>
			@Html.ActionLink("Flip", "Flip", "User", null, new { title = "Find Suggested User", id = "header-nav-flip" })
		</li>
		<li>
			@Html.ActionLink("Logout", "Logout", "User")
		</li>
 }
</ul>
